* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    /* border: 1px solid black; */
    /* background-color: gray; */
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    -webkit-box-shadow:0 4px 12px 0 rgba(0,0,0,.05)!important;
  }
  nav a {
    text-decoration: none;
    color: #282c3f;
   
  }
  .logo {
    width: 60px;
    height: 40px;
  }
  .nav-link {
    padding-right: 17px;
    text-align: center;
    text-decoration: none;
    font-size: 0.84rem;
    letter-spacing: 0.3px;
    color: #282c3f;
    border-bottom: none;
    font-weight: 700;
    text-transform: uppercase;
  }
  .nav-items a {
    /* margin-right: 17px; */
  } .nav-item{
    /* border: 1px solid black; */
  }
  .nav-item .nav-link{
    padding: 25px 20px !important;
    /* margin-right: 8px; */
    font-weight: 700;
    font-size: 14px;

  }
  .nav-item:hover .nav-menu-container{
    display: block;
  }
  .nav_bar a {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
  }
  
  .search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
  }
  .search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
  
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
  }
  .search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
  }
  
  .action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
    margin: 10px 10px  0px 0px;
  }
  .action_bar span{
    font-weight: 700;
    font-size: 14px;
  }
  
  .action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .action_icon{
      width: 20px;
      font-size: large;
  }
  /* user icon */
  .user-icon{
    /* border: 1px solid black; */
   
  }
  
.user-icon:hover .profile-drop-down{
  display: block;

}
  /* profile drop down */
.profile-drop-down{max-width: 350px;
  position: absolute;
  top: 40px;
  z-index: 9;
  width: 500px;
  display: none;

  padding: 25px 20px 15px;
  background-color: #fff;
  color:#696e79;
  border: 1px solid #f5f5f6;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}
.profile-drop-down .btn{
  border-radius: 0%;
  color: #FF3F6C;
  border: 1px solid #eaeaec;
  font-weight: 700;
  font-size: .8rem;
  padding: 12px  20px;
}
.profile-drop-down .btn:hover{
  border-color: #FF3F6C;
}
.profile-drop-down ul {
  padding-block-start: 10px;
 
}
.profile-drop-down ul a{
  font-size: 14px;
  color: #282c3f;
  font-weight: 400;
  padding-block: 5px;
}